<!DOCTYPE html>
<html>
<head>
    <title>Habit list</title>

    <!-- bootstrap -->
    <link rel='stylesheet' href='css/bootstrap.css'>
    <link rel='stylesheet' href='css/bootstrap-theme.css'>
    <script src='js/lib/jquery-3.2.1.js'></script>
    <script src='js/lib/bootstrap.js'></script>

    <!-- vue.js-->
    <script src='js/lib/vue.js'></script>

    <!-- main.css -->
    <link rel='stylesheet' href='css/main.css'>

</head>
<body>
    <div id='app'>
        <!-- disable drag&drop on table -->
        <div onmousedown="return false">
            <div class='generated-table'>
                <table style='margin: 0 auto' class='table-bordered'>
                    <tbody>
                        <tr v-for='row in table_rows'>
                            <td v-for='col in row'><div v-on:mouseover='log_mouseover(col)' v-on:mousedown='log(col)' v-bind:class=col[0]></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{ resource }}
    </div>

    <!-- app-->
    <script src='js/main.js'></script>

</body>
</html>
