.td-red {
    min-width: 50px;
    min-height: 50px;
    background: red;
}

.td-green {
    min-width: 50px;
    min-height: 50px;
    background: green;
}

.td-blue {
    min-width: 50px;
    min-height: 50px;
    background: blue;
}

.td-blank {
    min-width: 50px;
    min-height: 50px;
    background: white;
}
